@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 120 8% 5%;

    --card: 0 0% 98%;
    --card-foreground: 120 8% 5%;

    --popover: 0 0% 98%;
    --popover-foreground: 120 8% 5%;

    --primary: 132 100% 50%;
    --primary-foreground: 0 0% 2%;

    --secondary: 120 7% 94%;
    --secondary-foreground: 120 8% 5%;

    --muted: 120 7% 94%;
    --muted-foreground: 133 6% 45%;

    --accent: 120 7% 94%;
    --accent-foreground: 120 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 140 6% 90%;
    --input: 132 6% 83%;
    --ring: 132 24% 75%;

    --radius: 0.5rem;

    --terminal: 180 4% 5%;
  }

  .dark {
    --background: 180 4% 5%;
    --foreground: 0 0% 98%;

    --card: 120 3% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 120 3% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 132 100% 50%;
    --primary-foreground: 0 0% 2%;

    --secondary: 120 2% 12%;
    --secondary-foreground: 0 0% 98%;

    --muted: 120 2% 18%;
    --muted-foreground: 132 2% 49%;

    --accent: 131 18% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 120 2% 12%;
    --input: 120 2% 18%;
    --ring: 132 100% 40%;

    --terminal: 132 100% 50%;
  }

  section {
    scroll-margin-top: 56px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
